mat-card{
    padding-right: 50px;
    line-height: 50px;
    max-height: 54px;
  
  }
  
  .loginTitle{
    font-weight: bold;
      font-size: 4em;
      font-family: Arial;
  }
  
  .clearfix{
    overflow: auto;
    text-align: center;
    
  }
  
  .mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);    
    z-index: 6;
  
  }
  

  .loginBtn{
    float:right;
    font-size: 16px;
    width:100px;
    height:50px
    
  }